.home.controls {
    padding: 1rem;
    border-radius: 5rem;       
    background: rgba(0, 0, 0, .7);
    position: relative;
    top: 10rem;
    
}

.home .controls .img-btn {

    height: 2rem;         
    width: 2rem;         
    display: inline-block;        
    border-radius: 50%;         
    background: #fff;         
    cursor: pointer;
    margin: 0 .5rem;
    
}
.home .controls .img-btn.active {
    background: var(--orange);
    
}
